VITE_API_URL=https://api.miclubchile.cl/api
VITE_CUSTOMER_URL=https://app.miclubchile.cl
VITE_COMMERCE_URL=https://comercio.miclubchile.cl
VITE_CASHIER_URL=https://cajero.miclubchile.cl
VITE_ADMIN_URL=https://admin.miclubchile.cl
